<h2>Links</h2>
<ul>
	<li><%=link_to("Resume", item_by_identifier("/takacs-otto-resume-profiles/"))%></li>
	<li><%=link_to("Archives", item_by_identifier("/archives/"))%></li>
</ul>
<h2>Cool</h2>
<ul>
	<li><%=link_to("Code Craft",item_by_identifier("/review/code-craft-pete-goodliffe/"))%></li>
	<li><%=link_to("Technology Stack",item_by_identifier("/articles/technology-stack/"))%></li>
	<li><%=link_to("Management Stack",item_by_identifier("/articles/management-stack/"))%></li>
	<li><%=link_to("IT&eacute;let",item_by_identifier("/extracts/itelet/"))%></li>
	<li><%=link_to("Szoftverfejleszt&eacute;s alapigazs&eacute;gai",item_by_identifier("/articles/szoftverfejlesztes-gyakran-elfeledett-alapigazsagai/"))%></li>
	<li><%=link_to("Pragmatic Programmer",item_by_id("/pragmatic-programmer-checklist/"))%></li>
	<li><%=link_to("Helyzetf&#252;ggő vezet&#233;s", item_by_id("/helyzetfuggo-vezetes-kenneth-blanchard/"))%></li>
</ul>
<h2>RSS</h2>
<ul>
	<li><a href="<%= item_by_id("/rss/").path%>">
		<img src="<%=item_by_id('/feed-icon/').path%>"/>
	</a></li>
</ul>
