	<script type="text/javascript" src="/assets/js/jquery-snippet-min.js"></script> 
	<link rel="stylesheet" href="/assets/css/jquery-snippet-min.css">
	<script type="text/javascript" >
	function getDataAttributes(node) {
		var d = {}, 
			re_dataAttr = /^data\-(.+)$/;

		$.each(node.get(0).attributes, function(index, attr) {
			if (re_dataAttr.test(attr.nodeName)) {
				var key = attr.nodeName.match(re_dataAttr)[1];
				d[key] = attr.nodeValue;
			}
		});

		return d;
	}
	$().ready(function(){
		$('pre code').each(function(){
			var lang = $(this).attr('class').replace('language-', '');
			var content = $(this).text();
			var par = $(this).parent();
			var syntax_options = $.extend({},{style:"ide-eclipse"},getDataAttributes(par));
			/*
			Need to replace CODE block with the pure content because 
			nippet plugin does not supports CODE block but PRE.
			*/
			$(par).text(content);
			$(par).snippet(lang,syntax_options);
		});
	});
	</script>